<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honganwei.mapper.EmailMapper">
	
	
	<select id="findAll"  resultType="Temail">
		Select * from t_email
	</select>
	
	<insert id="insert" parameterType="Temail">
		INSERT INTO t_email (recipients,sender,title,content,enclosure,sendtime,isread,readtime,isdelete)
		VALUES(#{recipients},#{sender},#{title},#{content},#{enclosure},#{sendTime},#{isRead},#{readtime},
		#{isdelete}) 
	</insert>
	
	<delete id="delete" parameterType="Temail">
	delete form email t where t.userId=#{userId} and t.id=#{id} 
	</delete>
	
	<select id="selectById" parameterType="int" resultType="Temail">
		SELECT * FROM t_email  t WHERE t.id=#{id};
	</select>
	
</mapper>