<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="com.honganwei.mapper.EmailMapper">
	<sql id="where_queryTEmail">
		<where>
			<if test="email!=null">
				<if test="email.recipients!=null and email.recipients!=''">
				  and t.recipients=#{email.recipients}
				</if>
			</if>
			 <if test="page!=null">
			 	 limit #{page.startIndex},#{page.pageSize}
			</if>
		</where>
	</sql>
	
	<select id="findAll"  resultType="Temail">
		Select * from t_emailc
	</select>
	
	<insert id="insert" parameterType="Temail">
		INSERT INTO t_email (recipients,sender,title,content,enclosure,sendtime,isread,readtime,isdelete)
		VALUES(#{recipients},#{sender},#{title},#{content},#{enclosure},#{sendTime},#{isRead},#{readtime},
		#{isdelete}) 
	</insert>
	
	<delete id="delete" parameterType="Temail">
	delete form email t where t.userId=#{userId} and t.id=#{id} 
	</delete>
	
	<select id="selectById" parameterType="int" resultType="Temail">
		SELECT * FROM t_email  t WHERE t.id=#{id};
	</select>
	
	<select id="selectByPage" parameterType="java.util.Map" resultType="Temail">
		SELECT * FROM t_email  t
		<include refid="where_queryTEmail"></include>
	</select>
	
	<select id="findCount" parameterType="java.lang.String" resultType="int">
		SELECT count(*) FROM t_email  t where t.recipients=#{str};
	</select>
</mapper>