<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honganwei.mapper.UserMapper">



	<select id="findAll" resultType="Tuser">
		Select * from t_user
	</select>

	<select id="selectUserByID" parameterType="Tuser" resultType="TUser">
        select * from t_user where t_user.username = #{username} and t_user.password = #{password}
    </select>

	<update id="updateUser" parameterType="TUser">
		update t_user t 
		<set>
		<!-- 参考
		<if test="videoId != null and videoId != ''" >
        	M.VIDEO_ID = #{videoId, jdbcType=VARCHAR},
      	</if> -->
			<if test="username!=null and usernmae!=''">
			    t.username=#{username},
			</if>		
			<if test="password!=null and password!=''">
			    t.password=#{password},
			</if>	
			<if test="nickname!=null and nickname!=''">
			    t.nickname=#{nickname},
			</if>	
			<if test="birthday!=null and birthday!=''">
			    t.birthday=#{birthday},
			</if>	
			<if test="sex!=null and sex!=''">
			    t.sex=#{sex},
			</if>	
			<if test="mobile!=null and mobile!=''">
			    t.mobile=#{mobile},
			</if>
			<if test="address!=null and address!=''">f vtchj
			    t.address=#{address},
			</if>
			<if test="rank!=null and rank!=''">
			    t.rank=#{rank},
			</if>
			<if test="regtime!=null and regtime!=''">
			    t.regtime=#{regtime},
			</if>
			  t.updateTime=#{updateTime}
		</set>
		<where>
			t.id=#{id}
		</where>
	</update>

</mapper>